body {
  margin: 0px;
  padding: 0px;
}

.navegacion {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacion #chek-menu, .navegacion label {
  display: none;
}
.navegacion .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navegacion .logo-container .logo {
  height: 60px;
}
.navegacion .nav-item {
  width: 50%;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 20%;
  margin-top: 0%;
}
.navegacion .nav-item .item {
  width: 20%;
  height: 130%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.4s ease;
}
.navegacion .nav-item .item a {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100px;
  color: rgb(58, 93, 174);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  text-decoration: none;
}
.navegacion .nav-item .item:hover {
  background-color: rgb(58, 93, 174);
}
.navegacion .nav-item .item:hover a {
  color: rgb(255, 255, 255);
}

.GiordanoCam {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/46538-camiones.jpg");
  background-size: cover;
}
.GiordanoCam .logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GiordanoCam .logo-div .img-1 {
  display: flex;
  width: 150px;
  margin-top: 20px;
}
.GiordanoCam .div-h1 .h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Nexa-ExtraLight";
  font-size: 400%;
  margin-top: 10px;
}
.GiordanoCam .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.GiordanoCam .boton button {
  padding: 15px;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  transition: all 0.4s ease;
}
.GiordanoCam .boton button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.GiordanoCam .logos {
  display: flex;
  justify-content: center;
}
.GiordanoCam .logos .img-logos {
  width: 150px;
  height: 150px;
  display: inline-flex;
  flex-direction: row;
  margin: 13px;
  padding: 12px;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
  color: rgb(255, 255, 255);
}

.h1-destacados {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.destacados {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contacto-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.contacto-container .contacto {
  width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
  margin-top: 15px;
  width: 40%;
  color: rgb(24, 43, 87);
}
.contacto-container .contacto h2 {
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}
.contacto-container .contacto input {
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  margin: 20px;
}
.contacto-container .contacto p {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.contacto-container .contacto #mensaje {
  height: 80px;
}
.contacto-container .contacto button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 93, 174);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s ease;
}
.contacto-container .contacto button:hover {
  background-color: rgb(108, 128, 175);
}
.contacto-container .contacto a {
  color: rgb(58, 93, 174);
}
.contacto-container .contacto .redes {
  margin-top: 50px;
}
.contacto-container .contacto .redes .bxl-whatsapp {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 178, 49);
  border-radius: 5px;
}
.contacto-container .contacto .redes .bxl-instagram {
  color: rgb(255, 255, 255);
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
  border-radius: 5px;
}
.contacto-container .contacto .redes .bxl-facebook {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 93, 174);
  border-radius: 5px;
}

.qs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(24, 43, 87);
}

.section {
  display: flex;
  margin-top: 50px;
}
.section .nosotros {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: rgb(58, 93, 174);
}
.section .nosotros img {
  width: 50%;
  height: 450px;
  margin-left: 5rem;
  margin-top: 25px;
  object-fit: cover;
}
.section .nosotros p {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  line-height: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.colven {
  display: flex;
  width: 100%;
  height: 500px;
}
.colven img {
  width: 50%;
  height: 450px;
  margin-right: 5rem;
  margin-top: 25px;
  object-fit: cover;
}
.colven p {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.ubicacion {
  width: 100%;
  height: 550px;
  margin-top: 85px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(24, 43, 87);
}
.ubicacion iframe {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.repuestos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.repuestos h2 {
  margin-bottom: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 300%;
  color: rgb(24, 43, 87);
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.acoplados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.acoplados h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 300%;
  color: rgb(24, 43, 87);
}

.footer {
  width: 100%;
  height: 50px;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  background-color: rgb(58, 93, 174);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

/* media queries */
@media (min-width: 320px) and (max-width: 480px) {
  .navegacion .logo-container .logo {
    width: 95%;
  }
  .navegacion #chek-menu:checked ~ .nav-item {
    background-color: rgba(58, 93, 174, 0.85);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .navegacion #chek-menu:checked ~ .nav-item a {
    color: white;
  }
  .navegacion .nav-item {
    display: none;
  }
  .navegacion label {
    display: block;
    margin-right: 20px;
  }
  .GiordanoCam {
    height: 750px;
  }
  .GiordanoCam .div-h1 .h1 {
    font-size: xx-large;
  }
  .GiordanoCam .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .GiordanoCam .logos .img-logos {
    width: 100px;
    height: 100px;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .contacto-container .contacto {
    width: 90%;
  }
  .contacto-container .contacto input {
    width: 80%;
  }
  .section {
    display: flexbox;
  }
  .section .nosotros {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .section .nosotros img {
    display: flex;
    margin-top: 10px;
    width: 80%;
    height: 30%;
    object-fit: cover;
    margin: auto;
  }
  .section .nosotros p {
    font-size: 80%;
    line-height: 20px;
    margin-top: 0px;
  }
  .ubicacion {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .repuestos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .repuestos h1 {
    font-size: xx-large;
  }
  .registro {
    margin-top: 50px;
  }
  .registro p {
    margin: 20px;
  }
  .registro .form {
    margin-bottom: 120px;
  }
  .registro .form input {
    width: 280px;
  }
  .footer {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .navegacion .logo-container .logo {
    width: 95%;
  }
  .navegacion #chek-menu:checked ~ .nav-item {
    background-color: rgba(58, 93, 174, 0.85);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
  }
  .navegacion #chek-menu:checked ~ .nav-item a {
    color: white;
  }
  .navegacion .nav-item {
    display: none;
  }
  .navegacion label {
    display: block;
    margin-right: 20px;
  }
  .GiordanoCam {
    height: 450px;
  }
  .GiordanoCam .div-h1 .h1 {
    font-size: xx-large;
  }
  .GiordanoCam .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .GiordanoCam .logos .img-logos {
    width: 100px;
    height: 100px;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 5%;
  }
  .contacto-container .contacto {
    width: 70%;
  }
  .contacto-container .contacto input {
    width: 80%;
  }
  .section {
    display: flexbox;
  }
  .section .nosotros {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .section .nosotros img {
    display: flex;
    margin-top: 10px;
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin: auto;
  }
  .section .nosotros p {
    font-size: 80%;
    line-height: 20px;
    margin-top: 0px;
  }
  .footer {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 600px) and (max-width: 780px) {
  .navegacion .logo-container .logo {
    width: 95%;
  }
  .navegacion #chek-menu:checked ~ .nav-item {
    background-color: rgba(58, 93, 174, 0.85);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
  }
  .navegacion #chek-menu:checked ~ .nav-item a {
    color: white;
  }
  .navegacion .nav-item {
    display: none;
  }
  .navegacion label {
    display: block;
    margin-right: 20px;
  }
  .GiordanoCam {
    height: 450px;
  }
  .GiordanoCam .div-h1 .h1 {
    font-size: xx-large;
  }
  .GiordanoCam .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .GiordanoCam .logos .img-logos {
    width: 120px;
    height: 120px;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .contacto-container .contacto {
    width: 65%;
  }
  .contacto-container .contacto input {
    width: 70%;
  }
  .section {
    display: flexbox;
  }
  .section .nosotros img {
    margin-left: 15px;
  }
  .section .nosotros p {
    font-size: 100%;
    margin-top: 25px;
    line-height: 22px;
  }
  .footer {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 780px) and (max-width: 1023px) {
  .navegacion {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navegacion .logo-container .logo {
    width: 95%;
  }
  .navegacion .nav-item {
    padding: 0;
  }
  .navegacion .nav-item .item {
    padding: 5px;
  }
  .GiordanoCam {
    height: 450px;
  }
  .GiordanoCam .div-h1 .h1 {
    font-size: xx-large;
  }
  .GiordanoCam .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .contacto-container .contacto {
    width: 450px;
  }
  .contacto-container .contacto input {
    width: 350px;
  }
  .section {
    display: flexbox;
  }
  .section .nosotros img {
    margin-left: 15px;
  }
  .section .nosotros p {
    font-size: 120%;
    margin-top: 25px;
    line-height: 120%;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .navegacion {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navegacion .logo-container .logo {
    width: 95%;
  }
  .navegacion .nav-item {
    padding: 0;
  }
  .navegacion .nav-item .item {
    padding: 5px;
  }
  .GiordanoCam {
    height: 450px;
  }
  .GiordanoCam .div-h1 .h1 {
    font-size: xx-large;
  }
  .GiordanoCam .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  .contacto-container .contacto {
    width: 600px;
  }
  .contacto-container .contacto input {
    width: 500px;
  }
  .section {
    display: flexbox;
  }
  .section .nosotros img {
    margin-left: 15px;
  }
  .section .nosotros p {
    font-size: 150%;
    margin-top: 25px;
    line-height: 120%;
  }
  .form {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
