/* media queries */
@media (min-width:320px) and (max-width:480px){

    .navegacion{

        .logo-container{
            .logo{
                width: 95%;
            }
        }

        #chek-menu:checked~.nav-item{
            background-color: rgb(58,93,174, 0.85);
            width: 100%;
            height: 500px;
            position: absolute;
            top: 60px !important;
            display: flex;
            flex-direction: column;
            align-items: start;

            a{
                color: white;
            }
        }

        .nav-item{
            display: none;
            
        }

        label{
            display: block;
            margin-right: 20px;
        }
    }

    .GiordanoCam{
        height: 750px;

        .div-h1{
            .h1{
                font-size: xx-large;
            }
        }

        .logos{
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-logos{
                width: 100px;
                height: 100px;
            }
        }
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .contacto-container{
        .contacto {width: 90%;
            input{
                width: 80%;
            }
        }
    }

    .section{
        display: flexbox;

        .nosotros{
            display: flex;
            flex-direction: column;
            height: 500px;

            img{
                display: flex;
                margin-top: 10px;
                width: 80%;
                height: 30%;
                object-fit: cover;
                margin: auto;
            }

            p{
                font-size:80%;
                line-height: 20px;
                margin-top: 0px;
            }
        }
    }

    .ubicacion{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .repuestos{
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: xx-large;
        }
    }

    .registro{

        margin-top: 50px;
        p{
            margin: 20px;
        }

        .form{
            margin-bottom: 120px;
            input{
                width: 280px;
            }
        }
    }

    .footer{
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

}


@media (min-width:481px)and (max-width:600px){

    .navegacion{

        .logo-container{
            .logo{
                width: 95%;
            }
        }

        #chek-menu:checked~.nav-item{
            background-color: rgb(58,93,174, 0.85);
            width: 100%;
            height: 500px;
            position: absolute;
            top: 60px !important;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: white;

            a{
                color: white;
            }
        }

        .nav-item{
            display: none;
            
        }

        label{
            display: block;
            margin-right: 20px;
        }
    }

    .GiordanoCam{
        height: 450px;

        .div-h1{
            .h1{
                font-size: xx-large;
            }
        }

        .logos{
            display: flex;
            flex-direction: row;
            align-items: center;

            .img-logos{
                width: 100px;
                height: 100px;
            }
        }
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 5%;
    }

    .contacto-container{
        .contacto {
            width: 70%;
            input{
                width: 80%;
            }
        }
    }

    .section{
        display: flexbox;

        .nosotros{
            display: flex;
            flex-direction: column;
            height: 500px;

            img{
                display: flex;
                margin-top: 10px;
                width: 80%;
                height: 50%;
                object-fit: cover;
                margin: auto;
            }

            p{
                font-size:80%;
                line-height: 20px;
                margin-top: 0px;
            }
        }
    }

    .footer{
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width:600px)and (max-width:780px){

    .navegacion{

        .logo-container{
            .logo{
                width: 95%;
            }
        }

        #chek-menu:checked~.nav-item{
            background-color: rgb(58,93,174, 0.85);
            width: 100%;
            height: 500px;
            position: absolute;
            top: 60px !important;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: white;

            a{
                color: white;
            }
        }

        .nav-item{
            display: none;
            
        }

        label{
            display: block;
            margin-right: 20px;
        }
    }

    .GiordanoCam{
        height: 450px;

        .div-h1{
            .h1{
                font-size: xx-large;
            }
        }

        .logos{
            display: flex;
            flex-direction: row;
            align-items: center;

            .img-logos{
                width: 120px;
                height: 120px;
            }
        }
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .contacto-container{
        .contacto {width: 65%;
            input{
                width: 70%;
            }
        }
    }

    .section{
        display: flexbox;

        .nosotros{
            
            img{
                margin-left: 15px;
            }

            p{
                font-size: 100%;
                margin-top: 25px;
                line-height: 22px;
            }
        }
    }
    

    .footer{
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}



@media (min-width:780px) and (max-width:1023px){

    .navegacion{
        
        width: 100%;
        height: 60px;
        background-color: rgb(255, 255, 255);
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container{
            .logo{
                width: 95%;
            }
        }

        .nav-item{
            padding: 0;
            
            .item{
                padding: 5px;
            }
        }

    }

    .GiordanoCam{
        height: 450px;

        .div-h1{
            .h1{
                font-size: xx-large;
            }
        }

        .logos{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .contacto-container{
        .contacto {
            width: 450px;
            input{
                width: 350px;
            }
        }
    }

    .section{
        display: flexbox;

        .nosotros{
            
            img{
                margin-left: 15px;
            }

            p{
                font-size: 120%;
                margin-top: 25px;
                line-height: 120%;
            }
        }
    }

    

}


@media (min-width:1023px) and (max-width:1440px){

    .navegacion{
        
        width: 100%;
        height: 60px;
        background-color: rgb(255, 255, 255);
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container{
            .logo{
                width: 95%;
            }
        }

        .nav-item{
            padding: 0;
            
            .item{
                padding: 5px;
            }
        }

    }

    .GiordanoCam{
        height: 450px;

        .div-h1{
            .h1{
                font-size: xx-large;
            }
        }

        .logos{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .contacto-container{
        .contacto {
            width: 600px;
            input{
                width: 500px;
            }
        }
    }

    .section{
        display: flexbox;

        .nosotros{
            
            img{
                margin-left: 15px;
            }

            p{
                font-size: 150%;
                margin-top: 25px;
                line-height: 120%;
            }
        }
    }

    

}