//colores
$blanco: rgb(255, 255, 255);
$azul: rgb(58, 93, 174);
$azulclaro:rgb(108, 128, 175);
$azuloscuro:rgb(24, 43, 87);
$gris:rgb(218, 218, 218);
$grisoscuro:rgba(148, 148, 148, 0.903);

//dimensiones
$alto:100%;
$ancho:100%;

